[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
bs4 = "*"
nltk = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
apiclient = "*"
spacy = "*"
pylint = "*"
en-core-web-lg = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.2.5/en_core_web_lg-2.2.5.tar.gz"}
gpt-2-simple = "*"
tensorflow = "~=1.15"

[requires]
python_version = "3.8"
